.question-screen {
    align-items: center;
    background: linear-gradient(162.94deg, #07B9FD 0%, #5573ED 98.61%);
    display: flex;
    flex-direction: column;
    height: 568px;
    padding: 16px 0;
    position: relative;
    width: 320px;
  }
  
  .title {
    height: 300px;
    letter-spacing: 0;
    margin-top: 3px;
    text-align: center;
    width: 280px;
  }