.question-screen {
    align-items: center;
    /* background: linear-gradient(162.94deg, #06d672 0%, #6e3ac1 98.61%); */
    background-color: #6fa0e5;
    display: flex;
    flex-direction: column;
    height: 570px;
    padding: 16px 0;
    position: relative;
    width: 330px;
    min-width: 100vw;
    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -webkit-text-size-adjust: none;
    box-sizing: border-box;
    line-height: normal;
    display: flex;
    flex-direction: column;
    justify-content: center;
    pointer-events: none;
    width: 100%;
    box-sizing: border-box;
    flex-shrink: 0;
    pointer-events: auto;
  }
  * {
    box-sizing: border-box;
  }
  
  .title {
    height: 300px;
    letter-spacing: 0;
    margin-top: 3px;
    text-align: center;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #ffffff;
    font-family: "Inter", Helvetica;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
  }



