.Middle-Text {
    /* background-color: #282c34; */
    min-height: 10vh;
    max-height: 10vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(25px + 2vmin);
    color: white;
    font-family: Tahoma ;
  }