.Middle-Text {
    /* background-color: #282c34; */
    min-height: 80vh;
    max-height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(50px + 2vmin);
    color: white;
  }