.App {
  text-align: center;
  background: radial-gradient(purple, green);
  background-repeat:no-repeat;
  /* background-size:200%; */
  background-position:center;
  margin: 0;
  height: 100%;
  overflow: hidden;
  min-height: 100%;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
